<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CampusShop</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>indi.mt.shop.test.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewProServlet</display-name>
    <servlet-name>NewProServlet</servlet-name>
    <servlet-class>indi.mt.shop.test.NewProServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewProServlet</servlet-name>
    <url-pattern>/newProServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>indi.mt.shop.servlet.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>indi.mt.shop.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/productServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WantInfoServlet</display-name>
    <servlet-name>WantInfoServlet</servlet-name>
    <servlet-class>indi.mt.shop.servlet.WantInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WantInfoServlet</servlet-name>
    <url-pattern>/wantInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearchServlet</display-name>
    <servlet-name>ProductSearchServlet</servlet-name>
    <servlet-class>indi.mt.shop.servlet.ProductSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchServlet</servlet-name>
    <url-pattern>/productSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>indi.mt.shop.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>indi.mt.shop.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/regServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>indi.mt.shop.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WantInfoCreatServlet</display-name>
    <servlet-name>WantInfoCreatServlet</servlet-name>
    <servlet-class>indi.mt.shop.servlet.WantInfoCreatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WantInfoCreatServlet</servlet-name>
    <url-pattern>/wantInfoCreatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>indi.mt.shop.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductReleaseServlet</display-name>
    <servlet-name>ProductReleaseServlet</servlet-name>
    <servlet-class>indi.mt.shop.servlet.ProductReleaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductReleaseServlet</servlet-name>
    <url-pattern>/productrelease</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductEditServlet</display-name>
    <servlet-name>ProductEditServlet</servlet-name>
    <servlet-class>indi.mt.shop.servlet.ProductEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductEditServlet</servlet-name>
    <url-pattern>/productedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>indi.mt.shop.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
</web-app>